@import "general.scss";

// NESTING

html{
    font-family:$font;
    font-size: 62.5%;
}

/* HEADER Y NAVBAR */
header {
    background-color: #e0e1e2;
    width: 100%;
        nav{
            img{
                width: 30%;
                font-weight: 900px;
                margin: 2%;
            }
            ul{
                width: 85%;
                margin-left: 10%;
                justify-content: right;  
                li {
                    display: flex;
                    padding: 1%;
                    .enlace-menu {
                        text-decoration: none;
                        font-size:x-large;
                        color:black;
                        font-weight: bold;
                    }
                    /* PSEUDOCLASE */
                    .enlace-menu:hover {
                        color: grey;
                        text-decoration:overline;
                        transition: 0.5S;
                    }  
                
                }
            }
        }
}

/* MAIN */

main {
    text-align: center;
    img{
        width: 80%;
        border-radius: 50%;
    }
/* BANNER */
    .banner{
    background-image: url(../img/nosomosunaagencia.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10%;

  /* ANIMACION */
    opacity: 0; 
    animation: fadeIn 2.5s ease-in-out forwards;
}

/* CONTENIDO DEL MAIN */ 
    h1{
    color: $black;
    font-size: 3rem;
    text-align: center;
    text-justify: inter-word;
    margin: 50px;
}

    h2{
    color:$black;
    font-size: 3rem;
    text-align: center;
    text-justify: inter-word;
    margin: 50px;
}


/* ESPACIOS */ 
    .espacioentreservicios {
    padding-bottom: 5%;
}

    .nuestrosservicios {
    font-size: 130%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;

}

/* CONTACTO */
    .textocompleteelformulario {
    font-size: 90%;
    }

    .form {
    color: $black;
        label {
         display: block;
        }
}
    .comentariosdecontacto {
    color: $black;
    padding-top: 5%;
    display: grid;
    place-items: center;
    padding-bottom: 0.2%;
    }
    
    .textarea {
        width: 90%;
        box-sizing: border-box;
        padding: 20px;
        font-size: 25px;
    }

    .aceptoterminosycondiciones {
        color: $black;
        text-align: center;
        margin-top: 2%;
      }
    .textoconmail {
        color: $black;
        font-size: 100%;
        text-align: left;
        margin: 95px;
    }


/* IFRAME */
    iframe{
    width: 90%;
    
  }
}


body{
    background-image: linear-gradient(to bottom, #3e41f4, #007bff, #00a1ff, #00bff6, #00d8e0, #19e2e8, #28edef, #35f7f7, #7ff5ff, #bcf1ff, #e4f0ff, #f4f4f4);
    color: $skyblue;
    font-size: 2.5rem;
    /* FOOTER */
    footer{
        text-align: center;
        font-size: 3rem;
        color: $black;
        margin-top: 80px;
        margin-bottom: 50px;
       
        img{
            width: 3%;
            margin-right: 3%;
            margin-left: 3%;
            align-items: center;
    
    
        }
    }
}

    